.footer {
align-content: center;
}

.footer .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0rem;
}

.footer__text {
    margin: 0;
    text-align: left;
}
  
.footer__title--first {
    color: var(--brand-500);
}
  
.footer__title--second {
    color: var(--brand-100);
}
  
  
/* Tablet and up */
@media (min-width: 768px) {
    .footer__title {
      font-size: 1.75rem;
      text-align: left;
    }
}
  
/* Desktop and up */
@media (min-width: 1024px) {
    .footer__title {
      font-size: 2rem;
    }
}