.footer {
    margin: 0;
    /* background-color: var(--brand-700); */
    /* margin: 0rem -1.5rem 0rem -1.5rem; */
}

.footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
}

.footer__text {
    margin: 0;
    font-size: var(--h5);
    text-align: left;
}
  
.footer__title--first {
    color: var(--brand-500);
}
  
.footer__title--second {
    color: var(--brand-100);
}

/* Tablet and up */
@media (min-width: 768px) {
    .footer__text {
      font-size: var(--h5);
      text-align: left;
    }
}
  
/* Desktop and up */
@media (min-width: 1024px) {
    .footer__text {
      font-size: var(--h5);
    }
}