.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-title {
    display: flex;
    font-size: var(--h1);
    color: var(--brand-500);
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.about-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.picture-container .grad{
    width: 60%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    overflow: hidden;
    align-self: center;
    justify-self: center;
    box-shadow: 0 0 10px 4px rgba(0, 228, 232, 0.2);
}

.grad {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.school-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.25rem;
    font-size: var(--h6);
    color: var(--neutral-100);
    margin-left: 20%;
}

.left-side .picture-container {
    display: flex;
    justify-content: center;
}

.course {
    font-size: var(--h5);
}

.school {
    color: var(--brand-400);
}

.heading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25rem;
}

.about-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.2rem;
}

.normal {
    color: var(--neutral-100);
    font-size: var(--h5);
}

.highlight {
    color: var(--brand-500);
    font-size: var(--h5);
}

.paragraphs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25rem;
    padding: 0;
    font-size: var(--h6);
    color: var(--neutral-200);
}

.left-side .about-container,
.right-side .about-container {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .about-contents {
        flex-direction: row;
    }
    .left-side .picture-container {
        display: flex;
        justify-content: flex-start;
    }
    .school-details {
        margin-left: 0;
    }
}

