.experience-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience-title {
    display: flex;
    font-size: var(--h1);
    color: var(--brand-500);
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.experience-contents {
    width: 100%;
    display: flex;
    color: var(--neutral-100);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

.experience-contents .left-side , 
.experience-contents .right-side {
    width: 100%;
    border: 1px solid var(--brand-600);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-list-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}