.experience-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience-title {
    display: flex;
    font-size: var(--h1);
    color: var(--brand-500);
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.experience-contents {
    width: 100%;
    display: flex;
    color: var(--neutral-100);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.experience-contents .left-side , 
.experience-contents .right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience-contents .right-side {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.experience-contents .right-side {
    border: 1px solid var(--brand-600);
    border-radius: 0.5rem;
}

.project-list-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.project-title-container {
    display: flex;
    flex-shrink: 1;
    min-width: 0;
    flex-direction: row;
    width: 100%;
    text-align: left;
    padding: 0.5rem 2rem;
    border: 1px solid var(--brand-600);
    border-radius: 10rem;
    justify-content: space-between;
}

.project-title-active {
    padding: 0.5rem 1rem;
    font-size: var(--h3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.project-topics-active {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: var(--h5);
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    min-width: 0;
}

.project-topic {
    padding: 0.5rem 1rem;
    background-color: var(--brand-800);
    border-radius: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.nav-button {
    color: var(--neutral-100);
    background: transparent;
    border: none;
}

.nav-button svg {
    width: 2rem;
    height: 2rem;
}

.nav-button:hover {
    color: var(--brand-500);
}

.project-details-container {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
}

@media (max-width: 540px) {
    .project-topics-active {
        display: none;
    }
    .project-title-container {
        text-align: center;
    }
}