h1, h2, h3, h4, h5, h6 {
  color: var(--neutral-100);
  font-weight: 400;
}

.title {
  margin-left: 80px;
  margin-top: 56px;
}

.first {
  color: var(--brand-500);
}

.second {
  color: var(--brand-100);
}