@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500&display=swap');

:root {
  /* color palette */
  --brand-100: #D4F4F6;
  --brand-200: #B6F2F5;
  --brand-300: #87EDF2;
  --brand-400: #62E8EF;
  --brand-500: #2ABEC6;
  --brand-600: #0B959D;
  --brand-700: #047176;
  --brand-800: #024245;
  --brand-900: #012628;

  --neutral-100: #DAE1E1;
  --neutral-200: #B3BBBB;
  --neutral-300: #808B8D;
  --neutral-400: #5C6464;
  --neutral-500: #304041;
  --neutral-600: #1A2C2D;
  --neutral-700: #102325;
  --neutral-800: #071717;
  --neutral-900: #031111;

  --s12: 0.75rem;
  --s16: 1rem;
  --s20: 1.25rem;
  --s24: 1.5rem;
  --s28: 1.75rem;
  --s32: 2rem;
  --s36: 2.25rem;
  --s40: 2.5rem;

  --h1: var(--s32);
  --h2: var(--s28);
  --h3: var(--s24);
  --h4: var(--s20);
  --h5: var(--s16);
  --h6: var(--s12);
} 

@media (min-width: 768px) {
  :root {
  --h1: var(--s36);
  --h2: var(--s32);
  --h3: var(--s28);
  --h4: var(--s24);
  --h5: var(--s20);
  --h6: var(--s16);
  }
}

@media (min-width: 1024px) {
  :root {
  --h1: var(--s40);
  --h2: var(--s36);
  --h3: var(--s32);
  --h4: var(--s28);
  --h5: var(--s24);
  --h6: var(--s20);
  }
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

body {
  background: var(--neutral-700) url('../public/texture.png') repeat;
  background-size: 15%;
  margin: 0;
  font-family: 'Lexend Deca', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--neutral-900);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
